.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  height: 500px;
}

/* Style form elements */
.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding and border don't add to the element's width */
}

.login-form{
  background-image: url("https://res.cloudinary.com/dgcjq4kbf/image/upload/v1712060728/World_Map_i8cijf.png"); 
  background-size: cover;
  background-color: darkorange;
  height: 1000px;
}
.form-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 40px;
}
/* Style form button */
.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #ffb301;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #2b2f33;
}
