.services-content {
  background-color: aliceblue;
  padding-right: 20px;
  justify-content: space-between;
  
}
.delivery{
  flex-direction: row;
  align-items: center;
  display: flex;
  margin-left: 20px;
  justify-content: space-between;
}
