.test1 {
  width: 400px;
  height: 280px;
  padding: 20px;
  border-radius: 20px;
  background-color: darkorange;
  margin-top: 20px;
}
.testimony {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 600px;
}

.test2 {
  width: 400px;
  height: 280px;
  border-radius: 20px;
  background-color: rgb(70, 61, 61);
  color: #f9f9f9;
  margin-top: 20px;
  padding: 20px;
}
.test3 {
  width: 400px;
  height: 280px;
  border-radius: 20px;
  background-color: rgb(19, 77, 77);
  color: #f9f9f9;
  margin-top: 20px;
  padding: 20px;
}
.yemi {
  align-items: center;
}
.peak {
  align-items: center;
}
